@import 'colorschema.less';

.el-linegraph {
  path {
      stroke-width: 1;
      fill: none;
      &:hover {
        stroke-width: 2;
      }

      &.focus {
        stroke-width: 2;
      }
  }

  line {
      stroke: @com1;
  }

  text {
      font-family: Arial;
      font-size: 9pt;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .focus circle {
    fill: none;
    stroke: @com2;
  }

  .posinfo {
    stroke: @com1;
    fill: @white;
  }

  .xlabel {
    stroke: @com1;
    height: 1em;
    width: 30px;
  }

  .stroke-color {
    &.c0 {
      stroke: @gra1;
    }
    &.c1 {
      stroke: @gra2;
    }
    &.c2 {
      stroke: @gra3;
    }
    &.c3 {
      stroke: @gra4;
    }
    &.c4 {
      stroke: @gra5;
    }
    &.c5 {
      stroke: @gra6;
    }
    &.c6 {
      stroke: @gra7;
    }
    &.c7 {
      stroke: @gra8;
    }
    &.c8 {
      stroke: @gra9;
    }
  }
}
