@import 'colorschema.less';

.el-linegraph {
  path {
      stroke-width: 1;
      fill: none;
  }

  line {
      stroke: @com1;
  }

  text {
      font-family: Arial;
      font-size: 9pt;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .focus circle {
    fill: none;
    stroke: @com2;
  }
  .posinfo {
    stroke: @com1;
    fill: @white;
  }

  .stroke-color {
    &.c0 {
      stroke: #F15854;
    }
    &.c1 {
      stroke: #4D4D4D;
    }
    &.c2 {
      stroke: #5DA5DA;
    }
    &.c3 {
      stroke: #FAA43A;
    }
    &.c4 {
      stroke: #60BD68;
    }
    &.c5 {
      stroke: #F17CB0;
    }
    &.c6 {
      stroke: #B2912F;
    }
    &.c7 {
      stroke: #B276B2;
    }
    &.c8 {
      stroke: #DECF3F;
    }
  }
}
