@import "colorschema.less";

.el-paths {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 1em;
      background: @pri1;
      color: @white;

      &:nth-child(odd) {
        background: @pri2;
      }
    }
  }

}
