
<div class="row">
  <div class="col-xs-4 config-header">
    Zoom
  </div>
  <div class="col-xs-4 config-header">
    Move
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <span class="glyphicon glyphicon-minus-sign"></span> <span class="config-value">{{length}}</span> <span class="glyphicon glyphicon-plus-sign"></span>
  </div>
  <div class="col-xs-4">
    <span class="glyphicon glyphicon-backward"></span> <span class="config-value">{{starttime}}</span> <span class="glyphicon glyphicon-forward"></span>
  </div>
</div>
