<section class="col-lg-9">
  <div class="" id="config-region"></div>
  <div class="" id="graph-region"></div>
</section>
<section class="col-lg-3">
  <div id="paths-region" class="el-paths"></div>
  <div id="addpath-region"></div>
</section>
