<div class="paths-item">
  <span title="User">{{user}}</span>
  <span title="Type">{{type}}</span>
  <span title="Startpoint">{{start}}</span>
  <span title="Unit">{{unit}}</span>
  <a href="javascript:" class="paths-remove"><span class="glyphicon glyphicon-remove-sign"></span></a>
</div>
{{# hasFocus}}
<div class="paths-item-adjust">
  <h1>HELLO THERE</h1>
</div>
{{/hasFocus}}
