<div class="row config-content">
  <div class="col-xs-4">
    <div class="config-header">
      Zoom
    </div>
    <div class="">
      <span class="glyphicon glyphicon-minus-sign zoom-minus"></span> <span class="config-value">{{length}}</span> <span class="glyphicon glyphicon-plus-sign zoom-plus"></span>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="config-header">
    Move
    </div>
    <div class="">
      <span class="glyphicon glyphicon-backward"></span> <span class="config-value">{{starttime}}</span> <span class="glyphicon glyphicon-forward"></span>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
