
<div class="row">
  <div id="config-region" class="el-config"></div>
</div>
<div class="row">
  <div id="addpath-region" class="el-addpath"></div>
</div>
<div class="row">
  <div id="paths-region" class="el-paths"></div>
</div>
