<html>
<head>
  <title>vizlog.</title>
  <link rel="stylesheet" type="text/css" href="dist/style.css">
</head>
<body>
<section id="main-region"></section>

<script data-main="src/init" src="lib/requirejs/require.js"></script>
</body>
</html>
